# SPDX-FileCopyrightText: 2024 Roman Gilg <subdiff@gmail.com>
# SPDX-License-Identifier: MIT
name: CI
on:
  - push
  - pull_request
jobs:
  message-lint:
    uses: ./.github/workflows/commit-lint.yml
    with:
      upstream-repo: https://github.com/winft/como.git

  reuse:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: REUSE Compliance
      uses: fsfe/reuse-action@v2

  clang-format:
    uses: ./.github/workflows/clang-format.yml

  coverage-build:
    uses: ./.github/workflows/build.yml
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: coverage-build
      cmake-preset: gcc-cov

  builds:
    strategy:
      matrix:
        preset: [clang, gcc, release]
    uses: ./.github/workflows/build.yml
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: '${{ matrix.preset }}-build'
      cmake-preset: ${{ matrix.preset }}

  install:
    uses: ./.github/workflows/install.yml
    needs: builds
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: release-build

  test:
    uses: ./.github/workflows/test.yml
    needs: coverage-build
    secrets: inherit
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: coverage-build
      # Following tests are currently disabled on CI:
      # * lockscreen, modifier-only-shortcut: flaky on CI because the lockscreen greeter process likes to
      #   freeze off. Also see: https://bugreports.qt.io/browse/QTBUG-82911
      # * all others: the GLES2 backend of wlroots can't be run in CI/without GPU at the moment,
      #   see https://gitlab.freedesktop.org/wlroots/wlroots/-/issues/2871
      ctest-args:
        "-E 'lockscreen|modifier only shortcut|no crash empty deco|no crash no border\
          |scene opengl|opengl shadow|no crash reinit compositor|buffer size change\
          |no crash aurorae destroy deco|slidingpopups|scripted effects|window open close animation\
          |subspace switching animation|minimize animation'"

  clang-tidy:
    uses: ./.github/workflows/clang-tidy.yml
    needs: builds
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: clang-build

  package:
    uses: ./.github/workflows/package.yml
    needs: builds
    with:
      image: registry.gitlab.com/kwinft/ci-images/archlinux/kwinft-base-master
      artifact-name: clang-build
      package-name: como
