# SPDX-FileCopyrightText: 2024 Roman Gilg <subdiff@gmail.com>
# SPDX-License-Identifier: MIT
name: Test
on:
  workflow_call:
    inputs:
      image:
        description: Image to run tests on
        required: true
        type: string
      artifact-name:
        description: Artifact name of build dir
        required: true
        type: string
      ctest-args:
        description: Specify additional CTest arguments
        required: false
        type: string
        default: ''

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Dependencies
        uses: ./.github/actions/dep-artifacts
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: Untar artifact
        run: tar -xzf build-dir.tar
      - name: List all tests
        run: ctest --test-dir build -N
      # Tests currently only run in one thread.
      - name: Run selected tests
        env:
          DISPLAY: ":1"
          WAYLAND_DEBUG: "server"
          MESA_DEBUG: "1"
          LIBGL_DEBUG: "verbose"
          QT_LOGGING_RULES: "*=true"
          ASAN_OPTIONS: "detect_odr_violation=0"
        run:
          "Xvfb :1 -ac -screen 0 1920x1080x24 > /dev/null 2>&1 &

          dbus-run-session ctest --test-dir build -T Test \
            --output-on-failure --no-compress-output ${{ inputs.ctest-args }}"
        shell: bash
